@import "./styles/variables.scss";

.app_container {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.app_banner {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-image: url("../src/assets/Rectangle1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.app_background {
  margin: auto;
  object-fit: cover;
  z-index: -10;

  @include md {
    position: relative;
    left: -500px;
  }
}

.app__card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;

  @include md {
    flex-direction: column;
  }
}

.app_section_container {
  width: 100%;
  margin-top: 5rem;
  padding: 0 $spacing-lg;

  @include xl {
    margin-top: 10rem;
  }

  @include lg {
    margin-top: 14rem;
  }

  @include md {
    margin-top: 2rem;
  }

  @include sm {
    margin-top: 6rem;
  }
}
