@import "../../styles/variables.scss";

.banner {
  width: 100%;
  padding: 0 $spacing-lg;
}

.banner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding:1rem;
  @include md {
    flex-direction: column;
  }
}

.banner__img {
  flex: 1;
  object-fit: contain;
}

.banner__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__title {
  text-align: start;
  width: 100%;
  margin-bottom: 2rem;
  font-size: $font_xx_large;
  color: white;
  font-weight: 600;

 
}

.banner__subtitle {
  text-align: start;
  width: 100%;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: $font_large;
  color: white;
  font-weight: 500;
}
