@import "../../styles/variables.scss";

.banner {
  width: 100%;
  padding: 0 $spacing-lg;
}

.banner__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  padding: 1rem;
  @include md {
    grid-template-columns: 1fr;
  }
}

.banner__img {
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    @include md{
      width:200px
      
    }
  }
}

.banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__title {
  text-align: start;
  width: 100%;
  margin-bottom: 2rem;
  font-size: $font_xx_large;
  color: white;
  font-weight: 600;

  @include md {
    font-size: $font_large;
  }
}

.banner__subtitle {
  text-align: start;
  width: 100%;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: $font_large;
  color: white;
  font-weight: 500;

  @include md {
    font-size: $font_regular;
  }
}
